@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Montserrat:300,400,500,700&subset=latin-ext");
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  left: -100vw;
  top: 0;
  background-color: #e0a80d;
  background-color: rgba(224, 168, 13, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

@media only screen and (min-width: 1024px) {
  .overlay {
    width: 30%;
  }
}

.nav-on .overlay {
  position: fixed;
  top: 0;
  left: 0;
}

.overlay .overlay-content {
  position: absolute;
  top: 25%;
  width: 100%;
  margin-top: 30px;
  margin: 0 auto;
}

.overlay .overlay-content a {
  padding: 8px;
  font-size: 36px;
  color: #2b2c2c;
  display: block;
  transition: 0.5s;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.overlay .overlay-content a:hover, .overlay .overlay-content a:focus {
  color: #3f4040;
  border-left: 5px solid #3f4040;
  border-right: 5px solid #3f4040;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #2b2c2c;
}

.overlay .closebtn:hover {
  border-left: none;
  border-right: none;
  color: #3f4040;
}

.btn {
  cursor: pointer;
  color: #a0a1a2;
  background-color: transparent;
  overflow: hidden;
  z-index: 1;
}

@media only screen and (min-width: 1024px) {
  .btn:hover {
    color: #2b2c2c;
    border-bottom: 1.5px solid #e0a80d;
  }
  .btn:hover:after {
    left: 0;
    opacity: 1;
  }
  .btn:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: -100%;
    background-color: #e0a80d;
    opacity: 0;
    transition: all .4s ease;
    z-index: -1;
  }
}

.btn-nav {
  font-size: 1.5em;
  color: #2b2c2c;
  z-index: 9;
  position: fixed;
  left: 0px;
  top: 0px;
  padding: 10px 9px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #e0a80d;
}

@media only screen and (min-width: 1024px) {
  .btn-nav {
    border-bottom: 1.5px solid #a0a1a2;
    color: #a0a1a2;
    background-color: transparent;
    margin: 30px;
  }
}

.btn-up {
  font-size: 50px;
  position: fixed;
  bottom: -100px;
  right: 20px;
  padding: 0 15px;
  text-shadow: 0 2px 5px #000;
  transition: all .5s ease;
  z-index: 999;
}

.sticky-btn .btn-up {
  bottom: 55px;
}

.btn-up:hover {
  border: none;
  text-shadow: none;
}

.timeline .row .timeline-container {
  border-left: 2px solid #a0a1a2;
  position: relative;
  padding: .1em 0;
}

.timeline .row .timeline-container .fa-circle {
  color: #e0a80d;
  position: absolute;
  left: -7px;
  top: .3em;
  overflow: none;
}

.timeline .row article {
  margin: 0 0 4em 2em;
}

.timeline .row article h3 {
  color: #e0a80d;
  margin: 0;
}

.timeline .row article h3:nth-of-type(even) {
  font-size: 1.6em;
  margin-bottom: .5em;
}

.timeline .row article h3:nth-of-type(odd) {
  margin-bottom: .2em;
  font-weight: 400;
  font-size: .9em;
}

.timeline .row article p {
  margin: 0;
  padding-left: 1em;
  border-left: 1px solid #a0a1a2;
}

.skills .bar-content {
  width: 100%;
  margin: 0 0 3.4em 0;
}

@media only screen and (min-width: 1024px) {
  .skills .bar-content {
    width: 50%;
    float: left;
  }
}

.skills .bar-content .bar-header h4 {
  margin: 0;
  display: inline-block;
  margin-right: 1em;
  margin-bottom: .5em;
}

.skills .bar-content .bar-header h4:first-of-type {
  color: #e0a80d;
  font-size: 1.2em;
}

.skills .bar-content .progress-bar {
  background-color: #a0a1a2;
  width: 100%;
  height: 6px;
  overflow: hidden;
}

@media only screen and (min-width: 1024px) {
  .skills .bar-content .progress-bar {
    width: 95%;
  }
}

.skills .bar-content .progress-bar .progress {
  background-color: #e0a80d;
  height: 6px;
}

.skills .bar-content .progress-bar .html {
  width: 80%;
}

.skills .bar-content .progress-bar .css {
  width: 70%;
}

.skills .bar-content .progress-bar .sass {
  width: 40%;
}

.skills .bar-content .progress-bar .javascript {
  width: 40%;
}

.skills .bar-content .progress-bar .bootstrap {
  width: 50%;
}

.skills .bar-content .progress-bar .photoshop {
  width: 80%;
}

#contact {
  background-image: url(../img/keyboard-cover.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

#contact hr {
  background: #a0a1a2;
  border: 0;
  height: 1.5px;
  margin: 50px 0;
}

#contact .contact-form input,
#contact .contact-form textarea {
  border: none;
  color: #a0a1a2;
  font-family: "Montserrat", sans-serif;
  background-color: #000;
  padding: 1em;
  margin-bottom: 2em;
  width: 100%;
  opacity: .6;
}

@media only screen and (min-width: 1024px) {
  #contact .contact-form input,
  #contact .contact-form textarea {
    width: 47%;
  }
}

#contact .contact-form input::placeholder,
#contact .contact-form textarea::placeholder {
  font-size: 1.2em;
  color: #a0a1a2;
  font-family: "Montserrat", sans-serif;
}

#contact .contact-form input:focus, #contact .contact-form input:hover,
#contact .contact-form textarea:focus,
#contact .contact-form textarea:hover {
  outline: none;
  box-shadow: 0 0 8px #000;
  transition: .5s;
}

#contact .contact-form input {
  margin-right: 2em;
}

@media only screen and (min-width: 1024px) {
  #contact .contact-form input {
    margin-right: 2.5em;
  }
}

#contact .contact-form input:last-of-type {
  margin-right: 0;
}

#contact .contact-form textarea {
  width: 100%;
}

#contact .contact-form .send-btn {
  color: #2d2e2e;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  background-color: #e0a80d;
  height: 2em;
  width: 30%;
  cursor: pointer;
}

#contact .contact-form .send-btn:hover {
  box-shadow: 0 0 5px #e0a80d;
  transition: .5s;
}

#contact .contact-content .contact-info {
  text-align: center;
  margin: 2em 0;
}

@media only screen and (min-width: 1024px) {
  #contact .contact-content .contact-info {
    display: inline-block;
    width: 32%;
  }
}

#contact .contact-content .contact-info h4 {
  font-size: 1.2em;
  text-transform: none;
  color: #a0a1a2;
  margin: 0 0 .5em 0;
}

#contact .contact-content .contact-info p {
  font-size: 1em;
}

#contact .contact-content .map {
  margin-top: 100px;
}

.gallery .row .gl-image {
  text-align: center;
  margin: 0 0px 20px 0;
}

@media only screen and (min-width: 1024px) {
  .gallery .row .gl-image {
    float: left;
    width: 50%;
  }
}

.gallery .row .gl-image img {
  box-shadow: 0px 4px 8px #000;
}

@media only screen and (min-width: 1024px) {
  .gallery .row .gl-image img {
    width: 95%;
  }
}

.gallery .row .gl-image a {
  display: block;
}

@media only screen and (min-width: 1024px) {
  .gallery .row .gl-image a {
    filter: grayscale(100%);
  }
  .gallery .row .gl-image a:hover {
    transform: scale(1.03);
    filter: grayscale(0%);
    transition: .8s;
  }
}

.gallery .row .gl-image a .img-content {
  display: block;
  position: fixed;
  padding-left: 2em;
  top: 0;
  text-align: left;
  opacity: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 1024px) {
  .gallery .row .gl-image a .img-content {
    opacity: 0;
  }
  .gallery .row .gl-image a .img-content:hover {
    opacity: 1;
    transition: 1s;
  }
}

.gallery .row .gl-image a .img-content .yellow-line {
  margin: 5px 0;
  width: 100px;
  height: 5px;
  background-color: #e0a80d;
}

.gallery .row .gl-image a .img-content h4,
.gallery .row .gl-image a .img-content p {
  color: #fff;
  font-size: 2em;
  margin: 0;
  text-shadow: 0 2px 7px #000;
}

.gallery .row .gl-image a .img-content h4:first-child,
.gallery .row .gl-image a .img-content p:first-child {
  margin-top: 2em;
}

.gallery .row .gl-image a .img-content h4:last-child,
.gallery .row .gl-image a .img-content p:last-child {
  font-size: 1.5em;
}

#gl-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  text-align: center;
}

#gl-overlay img {
  margin-top: 3%;
  border: 5px solid #fff;
  height: auto;
  max-width: 90%;
}

@media only screen and (min-width: 1024px) {
  #gl-overlay img {
    width: auto;
    height: 80%;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  background-color: #2d2e2e;
  font-family: "Montserrat", sans-serif;
  color: #a0a1a2;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1,
h2,
h4,
h5,
h6 {
  color: #a0a1a2;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-weight: 100;
}

a {
  color: #a0a1a2;
  text-decoration: none;
}

a:hover, a:active {
  color: #e0a80d;
  transition: .5s;
}

.container {
  margin: 100px auto;
  max-width: 1200px;
  padding: 0 30px;
}

.container .container-header {
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}

@media only screen and (min-width: 1024px) {
  .container .container-header {
    float: left;
    margin-right: 1.875em;
    text-align: right;
    width: 30%;
  }
}

.container .container-header h2 {
  font-size: 1.2em;
  margin: 0;
}

.container .container-header h3 {
  font-size: .9em;
}

.container .container-header .shadow-title {
  position: absolute;
  left: 0;
  text-align: left;
  font-size: 5em;
  line-height: 120px;
  color: #e0a80d;
  opacity: .05;
  margin: 0;
}

@media only screen and (min-width: 1024px) {
  .container .container-header .shadow-title {
    font-size: 6em;
    left: 130px;
  }
}

@media only screen and (min-width: 1280px) {
  .container .container-header .shadow-title {
    font-size: 7em;
    left: 130px;
  }
}

@media only screen and (min-width: 1440px) {
  .container .container-header .shadow-title {
    font-size: 8em;
    left: 0;
  }
}

.container .container-header .shadow-title.io-icon:before {
  position: absolute;
  content: "\f007";
  font-family: "FontAwesome";
  font-size: .8em;
  left: -115px;
}

.container .container-header .shadow-title.sl-icon:before {
  position: absolute;
  content: "\f085";
  font-family: "FontAwesome";
  font-size: .8em;
  left: -140px;
}

.container .container-header .shadow-title.tl-icon:before {
  position: absolute;
  content: "\f017";
  font-family: "FontAwesome";
  font-size: .8em;
  left: -140px;
}

.container .container-header .shadow-title.pf-icon:before {
  position: absolute;
  content: "\f07c";
  font-family: "FontAwesome";
  font-size: .8em;
  left: -140px;
}

.container .container-content {
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .container .container-content {
    float: left;
    width: 65%;
  }
}

.container p {
  font-size: 1em;
  margin: 0;
}

section {
  overflow: hidden;
  display: block;
}

section:nth-of-type(odd) {
  background-color: #2b2c2c;
}

section #home {
  text-align: center;
  min-height: 100vh;
  padding: 100px 25px;
}

@media only screen and (min-width: 1024px) {
  section #home {
    background-image: url(../img/black-abstract-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}

section #home h1 {
  font-size: 3.75em;
  color: #e0a80d;
  margin: 0;
  text-shadow: -0.8px 0.8px 0px #987209;
}

@media only screen and (min-width: 1024px) {
  section #home h1 {
    font-size: 5em;
  }
}

section #home p {
  font-size: 1em;
}

@media only screen and (min-width: 1024px) {
  section #home p {
    font-size: 1.5em;
  }
}

section #home img {
  border-radius: 50%;
  margin-bottom: 30px;
}

section #home .my-name {
  text-transform: none;
  font-weight: 300;
  color: #a0a1a2;
  font-size: 3.125em;
  margin: 0;
  line-height: .8;
}

@media only screen and (min-width: 1024px) {
  section #home .my-name {
    font-size: 4.375em;
  }
}

.icons {
  text-align: center;
  padding: 0;
  margin: 40px 0;
}

.icons .fa {
  width: 20px;
  height: 20px;
}

.icons li {
  text-decoration: none;
  display: inline-block;
}

.icons a {
  font-size: 1.5em;
  color: #a0a1a2;
  background-color: #3f4040;
  padding: 15px 20px;
  margin: 15px;
}

.icons a:hover {
  color: #2d2e2e;
  background-color: #e0a80d;
  transition: 0.5s;
}

footer {
  text-align: center;
  padding: 1em;
  background-color: #e0a80d;
  color: #2b2c2c;
  font-weight: 500;
  box-shadow: 0 0 12px #2d2e2e;
}
