@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Montserrat:300,400,500,700&subset=latin-ext");
/* line 5, C:/Users/Dodo/Desktop/WEBCV/scss/_navigation.scss */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: #e0a80d;
  /* Black fallback color */
  background-color: rgba(224, 168, 13, 0.9);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  /* Position the content inside the overlay */
}

/* line 24, C:/Users/Dodo/Desktop/WEBCV/scss/_navigation.scss */
.overlay .overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
/* line 39, C:/Users/Dodo/Desktop/WEBCV/scss/_navigation.scss */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #2d2e2e;
  display: block;
  /* Display block instead of inline */
  transition: 0.5s;
  /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
/* line 52, C:/Users/Dodo/Desktop/WEBCV/scss/_navigation.scss */
.overlay a:hover,
.overlay a:focus {
  color: #3f4040;
}

/* Position the close button (top right corner) */
/* line 59, C:/Users/Dodo/Desktop/WEBCV/scss/_navigation.scss */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  /* line 69, C:/Users/Dodo/Desktop/WEBCV/scss/_navigation.scss */
  .overlay a {
    font-size: 20px;
  }
  /* line 72, C:/Users/Dodo/Desktop/WEBCV/scss/_navigation.scss */
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* line 7, C:/Users/Dodo/Desktop/WEBCV/scss/_buttons.scss */
.button {
  cursor: pointer;
  color: #a0a1a2;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #a0a1a2;
}

/* line 13, C:/Users/Dodo/Desktop/WEBCV/scss/_buttons.scss */
.button::before, .button::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 25, C:/Users/Dodo/Desktop/WEBCV/scss/_buttons.scss */
.nav-btn {
  font-size: 18px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 40px;
  padding: 10px 9px;
  text-transform: uppercase;
  font-weight: 700;
}

/* line 36, C:/Users/Dodo/Desktop/WEBCV/scss/_buttons.scss */
.btn-up {
  font-size: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 0 11px;
}

/* line 43, C:/Users/Dodo/Desktop/WEBCV/scss/_buttons.scss */
.btn-up .sticky-nav {
  bottom: 10px;
  pointer-events: auto;
}

/* line 52, C:/Users/Dodo/Desktop/WEBCV/scss/_buttons.scss */
.draw {
  transition: color 0.25s;
}

/* line 55, C:/Users/Dodo/Desktop/WEBCV/scss/_buttons.scss */
.draw::before, .draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

/* line 63, C:/Users/Dodo/Desktop/WEBCV/scss/_buttons.scss */
.draw::before {
  top: 0;
  left: 0;
}

/* line 68, C:/Users/Dodo/Desktop/WEBCV/scss/_buttons.scss */
.draw::after {
  bottom: 0;
  right: 0;
}

/* line 73, C:/Users/Dodo/Desktop/WEBCV/scss/_buttons.scss */
.draw:hover {
  color: #a0a1a2;
}

/* line 77, C:/Users/Dodo/Desktop/WEBCV/scss/_buttons.scss */
.draw:hover::before, .draw:hover::after {
  width: 100%;
  height: 100%;
}

/* line 83, C:/Users/Dodo/Desktop/WEBCV/scss/_buttons.scss */
.draw:hover::before {
  border-top-color: #a0a1a2;
  border-right-color: #a0a1a2;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

/* line 91, C:/Users/Dodo/Desktop/WEBCV/scss/_buttons.scss */
.draw:hover::after {
  border-bottom-color: #a0a1a2;
  border-left-color: #a0a1a2;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

/* line 104, C:/Users/Dodo/Desktop/WEBCV/scss/_buttons.scss */
.meet:hover {
  color: #e0a80d;
}

/* line 109, C:/Users/Dodo/Desktop/WEBCV/scss/_buttons.scss */
.meet::after {
  top: 0;
  left: 0;
}

/* line 115, C:/Users/Dodo/Desktop/WEBCV/scss/_buttons.scss */
.meet:hover::before {
  border-top-color: #e0a80d;
  border-right-color: #e0a80d;
}

/* line 120, C:/Users/Dodo/Desktop/WEBCV/scss/_buttons.scss */
.meet:hover::after {
  border-bottom-color: #e0a80d;
  border-left-color: #e0a80d;
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}

/* line 5, C:/Users/Dodo/Desktop/WEBCV/scss/_timeline.scss */
.timeline .row .timeline-container {
  border-left: 2px solid #a0a1a2;
  position: relative;
  padding: .1em 0;
}

/* line 11, C:/Users/Dodo/Desktop/WEBCV/scss/_timeline.scss */
.timeline .row .timeline-container .fa-circle {
  color: #e0a80d;
  position: absolute;
  left: -7px;
  top: .3em;
  overflow: none;
}

/* line 20, C:/Users/Dodo/Desktop/WEBCV/scss/_timeline.scss */
.timeline .row article {
  margin: 0 0 4em 2em;
}

/* line 36, C:/Users/Dodo/Desktop/WEBCV/scss/_timeline.scss */
.timeline .row article h3 {
  color: #e0a80d;
  margin: 0;
}

/* line 40, C:/Users/Dodo/Desktop/WEBCV/scss/_timeline.scss */
.timeline .row article h3:nth-of-type(even) {
  font-size: 1.6em;
  margin-bottom: .5em;
}

/* line 45, C:/Users/Dodo/Desktop/WEBCV/scss/_timeline.scss */
.timeline .row article h3:nth-of-type(odd) {
  margin-bottom: .2em;
  font-weight: 400;
  font-size: .9em;
}

/* line 52, C:/Users/Dodo/Desktop/WEBCV/scss/_timeline.scss */
.timeline .row article p {
  margin: 0;
  padding-left: 1em;
  border-left: 1px solid #a0a1a2;
}

/* line 4, C:/Users/Dodo/Desktop/WEBCV/scss/_skills.scss */
.skills .bar-content {
  width: 50%;
  float: left;
  margin: 0 0 3.4em 0;
}

/* line 9, C:/Users/Dodo/Desktop/WEBCV/scss/_skills.scss */
.skills .bar-content .bar-header h4 {
  margin: 0;
  display: inline-block;
  margin-right: 1em;
  margin-bottom: .5em;
}

/* line 15, C:/Users/Dodo/Desktop/WEBCV/scss/_skills.scss */
.skills .bar-content .bar-header h4:first-of-type {
  color: #e0a80d;
  font-size: 1.2em;
}

/* line 21, C:/Users/Dodo/Desktop/WEBCV/scss/_skills.scss */
.skills .bar-content .progress-bar {
  background-color: #a0a1a2;
  width: 90%;
  height: 6px;
}

/* line 26, C:/Users/Dodo/Desktop/WEBCV/scss/_skills.scss */
.skills .bar-content .progress-bar .progress {
  background-color: #e0a80d;
  height: 6px;
}

/* line 30, C:/Users/Dodo/Desktop/WEBCV/scss/_skills.scss */
.skills .bar-content .progress-bar .html {
  width: 90%;
}

/* line 33, C:/Users/Dodo/Desktop/WEBCV/scss/_skills.scss */
.skills .bar-content .progress-bar .css {
  width: 80%;
}

/* line 36, C:/Users/Dodo/Desktop/WEBCV/scss/_skills.scss */
.skills .bar-content .progress-bar .sass {
  width: 60%;
}

/* line 39, C:/Users/Dodo/Desktop/WEBCV/scss/_skills.scss */
.skills .bar-content .progress-bar .javascript {
  width: 50%;
}

/* line 42, C:/Users/Dodo/Desktop/WEBCV/scss/_skills.scss */
.skills .bar-content .progress-bar .bootstrap {
  width: 70%;
}

/* line 45, C:/Users/Dodo/Desktop/WEBCV/scss/_skills.scss */
.skills .bar-content .progress-bar .photoshop {
  width: 80%;
}

/* line 1, C:/Users/Dodo/Desktop/WEBCV/scss/_contact.scss */
#contact {
  background-image: url(../img/keyboard-cover.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

/* line 7, C:/Users/Dodo/Desktop/WEBCV/scss/_contact.scss */
#contact hr {
  background: #a0a1a2;
  border: 0;
  height: 1.5px;
  margin: 50px 0;
}

/* line 15, C:/Users/Dodo/Desktop/WEBCV/scss/_contact.scss */
#contact .contact-form input,
#contact .contact-form textarea {
  border: none;
  color: #a0a1a2;
  font-family: "Montserrat", sans-serif;
  background-color: #000;
  padding: 1em;
  margin-bottom: 2em;
  width: 48%;
  opacity: .6;
}

/* line 27, C:/Users/Dodo/Desktop/WEBCV/scss/_contact.scss */
#contact .contact-form input::placeholder,
#contact .contact-form textarea::placeholder {
  font-size: 1.2em;
  color: #a0a1a2;
  font-family: "Montserrat", sans-serif;
}

/* line 33, C:/Users/Dodo/Desktop/WEBCV/scss/_contact.scss */
#contact .contact-form input:focus, #contact .contact-form input:hover,
#contact .contact-form textarea:focus,
#contact .contact-form textarea:hover {
  outline: none;
  box-shadow: 0 0 5px #000;
  transition: .5s;
}

/* line 41, C:/Users/Dodo/Desktop/WEBCV/scss/_contact.scss */
#contact .contact-form input {
  margin-right: 2em;
}

/* line 43, C:/Users/Dodo/Desktop/WEBCV/scss/_contact.scss */
#contact .contact-form input:last-of-type {
  margin-right: 0;
}

/* line 48, C:/Users/Dodo/Desktop/WEBCV/scss/_contact.scss */
#contact .contact-form textarea {
  width: 100%;
}

/* line 52, C:/Users/Dodo/Desktop/WEBCV/scss/_contact.scss */
#contact .contact-form .send-btn {
  color: #2d2e2e;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  background-color: #e0a80d;
  height: 2em;
  width: 30%;
  cursor: pointer;
}

/* line 64, C:/Users/Dodo/Desktop/WEBCV/scss/_contact.scss */
#contact .contact-form .send-btn:hover {
  box-shadow: 0 0 5px #e0a80d;
  transition: .5s;
}

/* line 73, C:/Users/Dodo/Desktop/WEBCV/scss/_contact.scss */
#contact .contact-content .contact-info {
  display: inline-block;
  text-align: center;
  width: 32%;
}

/* line 77, C:/Users/Dodo/Desktop/WEBCV/scss/_contact.scss */
#contact .contact-content .contact-info h4 {
  font-size: 1.2em;
  text-transform: none;
  color: #a0a1a2;
  margin: 0 0 .5em 0;
}

/* line 84, C:/Users/Dodo/Desktop/WEBCV/scss/_contact.scss */
#contact .contact-content .contact-info p {
  font-size: 1em;
}

/* line 3, C:/Users/Dodo/Desktop/WEBCV/scss/_gallery.scss */
.gallery .row .gl-image {
  position: relative;
  float: left;
  margin: 0 20px 20px 0;
}

/* line 8, C:/Users/Dodo/Desktop/WEBCV/scss/_gallery.scss */
.gallery .row .gl-image img {
  box-shadow: 0px 4px 8px #000;
}

/* line 12, C:/Users/Dodo/Desktop/WEBCV/scss/_gallery.scss */
.gallery .row .gl-image:nth-of-type(even) {
  margin-right: 0;
}

/* line 16, C:/Users/Dodo/Desktop/WEBCV/scss/_gallery.scss */
.gallery .row .gl-image a {
  display: block;
  filter: grayscale(100%);
}

/* line 20, C:/Users/Dodo/Desktop/WEBCV/scss/_gallery.scss */
.gallery .row .gl-image a:hover {
  transform: scale(1.03);
  filter: grayscale(0%);
  transition: .8s;
}

/* line 26, C:/Users/Dodo/Desktop/WEBCV/scss/_gallery.scss */
.gallery .row .gl-image a .img-content {
  display: block;
  position: absolute;
  padding-left: 2em;
  top: 0;
  text-align: left;
  opacity: 0;
  width: 100%;
  height: 100%;
}

/* line 36, C:/Users/Dodo/Desktop/WEBCV/scss/_gallery.scss */
.gallery .row .gl-image a .img-content:hover {
  opacity: 1;
  transition: 1s;
}

/* line 41, C:/Users/Dodo/Desktop/WEBCV/scss/_gallery.scss */
.gallery .row .gl-image a .img-content .yellow-line {
  margin: 5px 0;
  width: 100px;
  height: 5px;
  background-color: #e0a80d;
}

/* line 48, C:/Users/Dodo/Desktop/WEBCV/scss/_gallery.scss */
.gallery .row .gl-image a .img-content h4,
.gallery .row .gl-image a .img-content p {
  color: #fff;
  font-size: 2em;
  margin: 0;
  text-shadow: 0 2px 7px #000;
}

/* line 55, C:/Users/Dodo/Desktop/WEBCV/scss/_gallery.scss */
.gallery .row .gl-image a .img-content h4:first-child,
.gallery .row .gl-image a .img-content p:first-child {
  margin-top: 2em;
}

/* line 59, C:/Users/Dodo/Desktop/WEBCV/scss/_gallery.scss */
.gallery .row .gl-image a .img-content h4:last-child,
.gallery .row .gl-image a .img-content p:last-child {
  font-size: 1.5em;
}

/* line 13, C:/Users/Dodo/Desktop/WEBCV/scss/style.scss */
* {
  box-sizing: border-box;
}

/* line 18, C:/Users/Dodo/Desktop/WEBCV/scss/style.scss */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* line 24, C:/Users/Dodo/Desktop/WEBCV/scss/style.scss */
body {
  background-color: #2d2e2e;
  font-family: "Montserrat", sans-serif;
  color: #a0a1a2;
  margin: 0;
  padding: 0;
  font-size: 16px;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* line 34, C:/Users/Dodo/Desktop/WEBCV/scss/style.scss */
h1,
h2,
h4,
h5,
h6 {
  color: #a0a1a2;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 45, C:/Users/Dodo/Desktop/WEBCV/scss/style.scss */
h3 {
  font-weight: 100;
}

/* line 49, C:/Users/Dodo/Desktop/WEBCV/scss/style.scss */
a {
  color: #a0a1a2;
  text-decoration: none;
}

/* line 53, C:/Users/Dodo/Desktop/WEBCV/scss/style.scss */
a:hover, a:active, a:focus {
  color: #e0a80d;
  transition: .5s;
}

/* line 61, C:/Users/Dodo/Desktop/WEBCV/scss/style.scss */
.container {
  margin: 50px auto;
  max-width: 1200px;
}

/* line 65, C:/Users/Dodo/Desktop/WEBCV/scss/style.scss */
.container .container-header {
  width: 30%;
  float: left;
  text-align: right;
  margin-right: 30px;
}

/* line 71, C:/Users/Dodo/Desktop/WEBCV/scss/style.scss */
.container .container-header h2 {
  font-size: 1.2em;
  margin: 0;
}

/* line 75, C:/Users/Dodo/Desktop/WEBCV/scss/style.scss */
.container .container-header h3 {
  font-size: .9em;
}

/* line 79, C:/Users/Dodo/Desktop/WEBCV/scss/style.scss */
.container .container-header .shadow-title {
  position: absolute;
  left: 12%;
  top: 8%;
  text-align: left;
  font-size: 9em;
  line-height: 120px;
  color: rgba(0, 0, 0, 0.08);
  margin: 0;
  z-index: -1;
}

/* line 92, C:/Users/Dodo/Desktop/WEBCV/scss/style.scss */
.container .container-content {
  width: 65%;
  margin-left: 30px;
  float: left;
}

/* line 98, C:/Users/Dodo/Desktop/WEBCV/scss/style.scss */
.container p {
  font-size: 1em;
  margin: 0;
}

/* line 105, C:/Users/Dodo/Desktop/WEBCV/scss/style.scss */
section {
  overflow: hidden;
  display: block;
}

/* line 109, C:/Users/Dodo/Desktop/WEBCV/scss/style.scss */
section:nth-of-type(odd) {
  background-color: #2b2c2c;
}

/* line 114, C:/Users/Dodo/Desktop/WEBCV/scss/style.scss */
section.o-section {
  position: relative;
}

/* line 117, C:/Users/Dodo/Desktop/WEBCV/scss/style.scss */
section.o-section .header-bg {
  display: block;
  width: 10%;
  position: absolute;
  height: 100%;
  background-color: #e0a80d;
  box-shadow: 0px 0px 10px #000;
}

/* line 125, C:/Users/Dodo/Desktop/WEBCV/scss/style.scss */
section.o-section:after {
  content: "";
  display: block;
  position: absolute;
  left: 10%;
  top: 70px;
  z-index: 1;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-right: 1em solid transparent;
  border-left: 1em solid #e0a80d;
  filter: drop-shadow 5px 5px 10px #000;
}

/* line 139, C:/Users/Dodo/Desktop/WEBCV/scss/style.scss */
section.o-section .fa-user,
section.o-section .fa-cogs,
section.o-section .fa-list-ul,
section.o-section .fa-folder-open,
section.o-section .fa-paper-plane {
  display: block;
  color: #2b2c2c;
  font-size: 40px;
  text-align: center;
  margin-top: 70px;
}

/* line 152, C:/Users/Dodo/Desktop/WEBCV/scss/style.scss */
section #home {
  min-height: 100vh;
  padding: 100px 25px;
  background-image: url(../img/black-abstract-bg.jpg);
  text-align: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* line 161, C:/Users/Dodo/Desktop/WEBCV/scss/style.scss */
section #home h1 {
  font-size: 80px;
  color: #e0a80d;
  margin: 0;
  text-shadow: -0.8px 0.8px 0px #987209;
}

/* line 168, C:/Users/Dodo/Desktop/WEBCV/scss/style.scss */
section #home p {
  font-size: 1.5em;
}

/* line 171, C:/Users/Dodo/Desktop/WEBCV/scss/style.scss */
section #home img {
  border-radius: 50%;
  margin-bottom: 30px;
}

/* line 175, C:/Users/Dodo/Desktop/WEBCV/scss/style.scss */
section #home .my-name {
  text-transform: none;
  font-weight: 300;
  color: #a0a1a2;
  font-size: 70px;
  margin: 0;
  line-height: .8;
}

/* line 187, C:/Users/Dodo/Desktop/WEBCV/scss/style.scss */
.icons {
  text-align: center;
  padding: 0;
  margin: 40px 0;
}

/* line 192, C:/Users/Dodo/Desktop/WEBCV/scss/style.scss */
.icons .fa {
  width: 30px;
  height: 30px;
}

/* line 197, C:/Users/Dodo/Desktop/WEBCV/scss/style.scss */
.icons li {
  text-decoration: none;
  display: inline-block;
}

/* line 202, C:/Users/Dodo/Desktop/WEBCV/scss/style.scss */
.icons a {
  font-size: 2em;
  color: #a0a1a2;
  background-color: #3f4040;
  padding: 15px 20px;
  margin: 15px;
}

/* line 210, C:/Users/Dodo/Desktop/WEBCV/scss/style.scss */
.icons a:hover {
  color: #2d2e2e;
  background-color: #e0a80d;
  transition: 0.5s;
}

/*# sourceMappingURL=../css/style.map */
