

// ---------------------------------------------- BUTTONS -----------------------------------------------
//

// -------------------------------------------BUTTON GENERAL----------------------------------------
.button {
    cursor: pointer;
    color: $color-text;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $color-text;

 	&::before,
  	&::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

// -----------------------------------------------BUTTONS - NAV, UP------------------------------------------------

.nav-btn {
  font-size: 18px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 40px;
    padding: 10px 9px;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-up {
  font-size: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 0 11px;

  .sticky-nav{
            bottom: 10px;
            pointer-events: auto;
}
}


// --------------------------------------BUTTON EFFECTS------------------------------------------

.draw {
    transition: color 0.25s;

  &::before,
  &::after {
    // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }
  // This covers the top & right borders (expands right, then down)
  &::before {
    top: 0;
    left: 0;
  }
  // And this the bottom & left borders (expands left, then up)
  &::after {
    bottom: 0;
    right: 0;
  }

  &:hover {
    color: $color-text;
  }
  // Hover styles
  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }

  &:hover::before {
    border-top-color: $color-text; // Make borders visible
    border-right-color: $color-text;
    transition:
      width 0.25s ease-out, // Width expands first
      height 0.25s ease-out 0.25s; // And then height
  }

  &:hover::after {
    border-bottom-color: $color-text; // Make borders visible
    border-left-color: $color-text;
    transition:
      border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
      width 0.25s ease-out 0.5s, // And then exanding width
      height 0.25s ease-out 0.75s; // And finally height
  }
}

// Inherits from .draw
.meet {

  &:hover {
    color: $color-headings;
  }

  // Start ::after in same position as ::before
  &::after {
    top: 0;
    left: 0;
  }

  // Change colors
  &:hover::before {
    border-top-color: $color-headings;
    border-right-color: $color-headings;
  }

  &:hover::after {
    border-bottom-color: $color-headings;
    border-left-color: $color-headings;
    transition: // Animate height first, then width
      height 0.25s ease-out,
      width 0.25s ease-out 0.25s;
  }
}

// ----------------------------------------------END BUTTON EFFECTS----------------------------------------------

