

// ---------------------------------------------- BUTTONS -----------------------------------------------
//

// -------------------------------------------BUTTON GENERAL----------------------------------------
.btn {
    cursor: pointer;
    color: $color-text;
    background-color: transparent;
    overflow: hidden;
    z-index: 1;

    &:hover {
      color: $color-bg;
      border-bottom: 1.5px solid $color-orange;
      &:after {
        left: 0;
        opacity: 1;
      }
    }
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        // outline: 1px solid red;
        display: block;
        top: 0;
        left: -100%;
        background-color: $color-orange;
        opacity: 0;
        transition: all .4s ease;
        z-index: -1;
      }
}

// -----------------------------------------------BUTTONS - NAV, UP------------------------------------------------

.btn-nav {
  font-size: 1.5em;
  border-bottom: 1.5px solid $color-text;
  position: fixed;
  left: 0px;
  top: 0px;
  margin: 40px;
    padding: 10px 9px;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-up {
  font-size: 50px;
  position: fixed;
  bottom: -100px;
  right: 20px;
  padding: 0 15px;
  text-shadow: 0 2px 5px #000;
  transition: all .5s ease;
  z-index: 999;
  .sticky-btn & {
    bottom: 55px;
  }

  &:hover {
    border: none;
    text-shadow: none;
  }
}
