@import '_variables.scss';

// ---------------------------------NAVIGATION-----------------------------------------

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    background-color: $color-headings;
    background-color: transparentize($color-headings, 0.10);
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s;

    .overlay-content {
        position: relative;
        top: 25%;
        // width: 0%;
        text-align: center;
        margin-top: 30px;
        margin: 0 auto;
    }

    a {
    padding: 8px;
    font-size: 36px;
    color: $color-bg;
    display: block;
    transition: 0.5s;

    &:hover,
    &:focus {
        color: $icon-color;
        border-left: 5px solid $icon-color;
        border-right: 5px solid $icon-color;
    }
}

    .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;

    &:hover {
        border-left: none;
        border-right: none;
        }
    }
}


@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
