.gallery {
	.row {
		.gl-image {

			text-align: center;
			margin: 0 0 20px 0;

			img {
				width: 90%;
			}

			@media #{$sm} {
	            float: left;
	            width: 50%;
	        }

			img {
				box-shadow: 0px 4px 8px #000;

				@media #{$sm} {
					width: 95%;
				}
			}

			a {
				display: block;

				@media #{$sm} {
					filter: grayscale(100%);

				&:hover {
					transform: scale(1.03);
					filter: grayscale(0%);
					transition: .8s;
	        		}
				}

				.img-content {
						display: block;
						position: absolute;
						padding-left: 1em;
						top: 1em;
						left: 2.875em;
						text-align: left;
						opacity: 1;
						width: 100%;
						height: 100%;

						h4,
						p {
							color: #fff;
							font-size: 1.3em;
							margin: 0;
							text-shadow: 0 2px 7px #000;

							&:first-child {
								margin-top: .5em;
							}

							&:last-child {
								font-size: 1em;
							}
						}

						@media #{$xs} {
							padding-left: 2em;
							opacity: 1;

							h4,
							p {
								font-size: 2em;

								&:first-child {
									margin-top: 1em;
								}

								&:last-child {
									font-size: 1.5em;
								}
							}

							@media #{$sm} {
								opacity: 0;
								padding-left: .5em;
							}

						&:hover {
							opacity: 1;
							transition: 1s;
							}
						}

					.yellow-line {
						margin: 5px 0;
						width: 100px;
						height: 5px;
						background-color: $color-orange;
					}

				}
			}
		}
	}
}

// --------------------------------GALLERY LIGHTBOX----------------------------------------

#gl-overlay {
	background-color: rgba(0,0,0,.7);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	text-align: center;

	img {
		margin-top: 3%;
		border: 5px solid #fff;
		height: auto;
		max-width: 90%;

		@media #{$sm} {
		            width: auto;
		            height: 80%;
	        	}
	}
}
