// -----------------------------MY SKILLS SECTION------------------------

.skills {
	.bar-content {
		width: 100%;
		margin: 0 0 3.4em 0;

		@media #{$sm} {
            width: 50%;
            float: left;
        }

		.bar-header {
			h4 {
				margin: 0;
				display: inline-block;
				margin-right: 1em;
				margin-bottom: .5em;

				&:first-of-type {
					color: $color-orange;
					font-size: 1.2em;
				}
			}
		}
		.progress-bar {
			background-color: $color-text;
			 width: 100%;
			height: 6px;
			overflow: hidden;

			@media #{$sm} {
	            width: 95%;
	        }

			.progress {
				background-color: $color-orange;
				height: 6px;
			}
			.html {
				width: 80%;
			}
			.css {
				width: 70%;
			}
			.sass {
				width: 40%;
			}
			.javascript {
				width: 40%;
			}
			.bootstrap {
				width: 50%;
			}
			.photoshop {
				width: 80%;
			}
		}
	}
}
