// ------------------------VARIABLES-------------------------
$font-family-montserrat: 'Montserrat',
sans-serif;
$font-family-lato: 'Lato',sans-serif;

$color-bg-body: #2d2e2e;
$color-bg: #2b2c2c;
$color-headings: #e0a80d;
$color-text: #a0a1a2;
$icon-color: #3f4040;
