// ---------------------------------IMPORTS------------------------
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Montserrat:300,400,500,700&subset=latin-ext');
@import 'navigation';
@import 'variables';
@import 'buttons';
@import 'timeline';
@import 'skills';
@import 'contact';
@import 'portfolio';


// ------------------------GENERAL----------------------------
*,
*:before,
*:after {
    box-sizing: border-box;
}

// ------------------CLEARFIX------------------------------
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background-color: $color-bg-body;
    font-family: $font-family-montserrat;
    color: $color-text;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

h1,
h2,
h4,
h5,
h6 {
    color: $color-text;
    font-family: $font-family-lato;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    font-weight: 100;
}

a {
	color: $color-text;
	text-decoration: none;

	&:hover,
	&:active {
		color: $color-orange;
		transition: .5s;
	}
}

// ------------------------------LAYOUT-------------------------

.container {
    margin: 100px auto;
    max-width: 1200px;
    padding: 0 30px;

    .container-header {
        text-align: center;
        margin-bottom: 50px;
        position: relative;
        font-size: 1.5em;

         @media #{$sm} {
            font-size: 1em;
            float: left;
            margin-right: 1.875em;
            text-align: right;
            width: 30%;
        }

        h2 {
            font-size: 1.2em;
            margin: 0;
        }
        h3 {
            font-size: .9em;
        }

        .shadow-title {
            display: none;

            @media #{$sm} {
            display: block;
            position: absolute;
            left: 0;
            // top: 20%;
            text-align: left;
            font-size: 4em;
            line-height: 120px;
            color: $color-orange;
            opacity: .05;
            margin: 0;
            }

            @media #{$md} {
                font-size: 5em;
                left: 130px;
            }

            @media #{$lg} {
                font-size: 7em;
                left: 0;
            }

            &.io-icon:before {
				position: absolute;
				content: "\f007";
				font-family: "FontAwesome";
				font-size: .8em;
				left: -115px;
			}

			&.sl-icon:before {
				position: absolute;
				content: "\f085";
				font-family: "FontAwesome";
				font-size: .8em;
				left: -140px;
			}

			&.tl-icon:before {
				position: absolute;
				content: "\f017";
				font-family: "FontAwesome";
				font-size: .8em;
				left: -140px;
			}

			&.pf-icon:before {
				position: absolute;
				content: "\f07c";
				font-family: "FontAwesome";
				font-size: .8em;
				left: -140px;
			}

			// &.ct-icon:before {
			// 	position: absolute;
			// 	content: "\f1d8";
			// 	font-family: "FontAwesome";
			// 	font-size: .8em;
			// 	left: -140px;
			// }

        }
    }

    .container-content {
        width: 100%;

        @media #{$sm} {
            float: left;
            width: 65%;
            // margin-left: 1.875em;
         }
    }

    p {
        font-size: 1em;
        margin: 0;
    }
}

section {
    overflow: hidden;
    display: block;

    &:nth-of-type(odd) {
        background-color: $color-bg;
        // z-index: -2;
    }

    #home {
        text-align: center;
        min-height: 100vh;
        padding: 100px 25px;
        background-image: url(../img/black-abstract-bg.jpg);
        background-size: auto, 100%vh;
        background-repeat: no-repeat;

        @media #{$sm} {
            background-image: url(../img/black-abstract-bg.jpg);
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }

        h1 {
            font-size: 3.75em;          //60px/16px
            color: $color-orange;
            margin: 0;
            text-shadow: -.8px .8px 0px darken( $color-orange, 15%);

            @media #{$sm} {
                font-size: 5em;
            }
        }

        p {
        	font-size: 1em;

            @media #{$sm} {
                font-size: 1.5em;
            }
        }
        img {
            border-radius: 50%;
            margin-bottom: 30px;
        }
        .my-name {
            text-transform: none;
            font-weight: 300;
            color: $color-text;
            font-size: 3.125em;         //50px/16px
            margin: 0;
            line-height: .8;

            @media #{$sm} {
                font-size: 4.375em;
            }
        }
    }
}

// --------------------------ICONS---------------------------------
.icons {
    text-align: center;
    padding: 0;
    margin: 40px 0;

    .fa {
        width: 20px;
        height: 20px;
    }

    li {
        text-decoration: none;
        display: inline-block;
    }

    a {
        font-size: 1.5em;
        color: $color-text;
        background-color: $icon-color;
        padding: 15px 20px;
        margin: 15px;
    }

    a:hover {
        color: $color-bg-body;
        background-color: $color-orange;
        transition: 0.5s;
    }
}

// -------------------------FOOTER---------------------------

footer {
	text-align: center;
	padding: 1em;
	background-color: $color-orange;
	color: $color-bg;
	font-weight: 500;
	box-shadow: 0 0 12px $color-bg-body;
}
