@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Montserrat:300,400,500,700&subset=latin-ext');
@import 'navigation';
@import 'variables';
@import 'buttons';
@import 'timeline';
@import 'skills';
@import 'contact';
@import 'gallery';



// ------------------------GENERAL----------------------------
* {
    box-sizing: border-box;
}

// ------------------CLEARFIX------------------------------
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background-color: $color-bg-body;
    font-family: $font-family-montserrat;
    color: $color-text;
    margin: 0;
    padding: 0;
    font-size: 16px;
    -webkit-font-smoothing: subpixel-antialiased;
}

h1,
h2,
h4,
h5,
h6 {
    color: $color-text;
    font-family: $font-family-lato;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    font-weight: 100;
}

a {
	color: $color-text;
	text-decoration: none;

	&:hover,
	&:active {
		color: $color-headings;
		transition: .5s;
	}
}

.container {
    margin: 100px auto;
    max-width: 1200px;

    .container-header {
        width: 30%;
        float: left;
        text-align: right;
        margin-right: 30px;
        position: relative;

        h2 {
            font-size: 1.2em;
            margin: 0;
        }
        h3 {
            font-size: .9em;
        }

        .shadow-title {
            position: absolute;
            left: 0;
            top: 20%;
            text-align: left;
            font-size: 9em;
            line-height: 120px;
            color: $color-headings;
            opacity: .05;
            margin: 0;
            z-index: 1;

            &.io-icon:before {
				position: absolute;
				content: "\f007";
				font-family: "FontAwesome";
				font-size: .8em;
				left: -115px;
			}

			&.sl-icon:before {
				position: absolute;
				content: "\f085";
				font-family: "FontAwesome";
				font-size: .8em;
				left: -140px;
			}

			&.tl-icon:before {
				position: absolute;
				content: "\f017";
				font-family: "FontAwesome";
				font-size: .8em;
				left: -140px;
			}

			&.pf-icon:before {
				position: absolute;
				content: "\f07c";
				font-family: "FontAwesome";
				font-size: .8em;
				left: -140px;
			}

			// &.ct-icon:before {
			// 	position: absolute;
			// 	content: "\f1d8";
			// 	font-family: "FontAwesome";
			// 	font-size: .8em;
			// 	left: -140px;
			// }

        }
    }

    .container-content {
        width: 65%;
        margin-left: 30px;
        float: left;
    }

    p {
        font-size: 1em;
        margin: 0;
    }
}


section {
    overflow: hidden;
    display: block;

    &:nth-of-type(odd) {
        background-color: $color-bg;
        // z-index: -2;
    }


// ---------------------------------------------LEFT BAR WITH ICONS-------------------------------------------------
    // &.o-section {
    //     position: relative;

    //     .header-bg {
    //         display: block;
    //         width: 10%;
    //         position: absolute;
    //         height: 100%;
    //         background-color: $color-headings;
    //         box-shadow: 0px 0px 10px #000;
    //     }
    //     &:after {
    //         content: "";
    //         display: block; // width: .5em;
    //         // height: .5em;
    //         position: absolute;
    //         left: 10%;
    //         top: 70px;
    //         z-index: 1;
    //         border-top: 1em solid transparent;
    //         border-bottom: 1em solid transparent;
    //         border-right: 1em solid transparent;
    //         border-left: 1em solid $color-headings;
    //         filter: drop-shadow (5px 5px 10px #000);
    //     }
    //     }

    #home {
        min-height: 100vh;
        padding: 100px 25px;
        background-image: url(../img/black-abstract-bg.jpg);
        text-align: center;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

        h1 {
            font-size: 80px;
            color: $color-headings;
            margin: 0;
            text-shadow: -.8px .8px 0px darken( $color-headings, 15%);
        }

        p {
        	font-size: 1.5em;
        }
        img {
            border-radius: 50%;
            margin-bottom: 30px;
        }
        .my-name {
            text-transform: none;
            font-weight: 300;
            color: $color-text;
            font-size: 70px;
            margin: 0;
            line-height: .8;
        }
    }
}

// --------------------------ICONS---------------------------------
.icons {
    text-align: center;
    padding: 0;
    margin: 40px 0;

    .fa {
        width: 30px;
        height: 30px;
    }

    li {
        text-decoration: none;
        display: inline-block;
    }

    a {
        font-size: 2em;
        color: $color-text;
        background-color: $icon-color;
        padding: 15px 20px;
        margin: 15px;
    }

    a:hover {
        color: $color-bg-body;
        background-color: $color-headings;
        transition: 0.5s;
    }
}
